<?xml version="1.0"?>

<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

<RDF xmlns="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:em="http://www.mozilla.org/2004/em-rdf#">

  <Description about="urn:mozilla:install-manifest">
    <em:id>{{metadata.get('general', 'id')}}</em:id>
    <em:version>{{version}}</em:version>
    <em:name>Adblock Latitude</em:name>
    <em:description>Acceptable Ads were yesterday!</em:description>
{%- macro meta() -%}
<em:creator>{{metadata.get('general', 'author')}}</em:creator>

{%- for contributor in contributors -%}
<em:contributor>{{contributor}}</em:contributor>
{%- endfor -%}
{%- endmacro %}
    <em:homepageURL>http://binaryoutcast.com/</em:homepageURL>
    <em:type>2</em:type>
    <em:bootstrap>true</em:bootstrap>
    <em:optionsURL>chrome://adblockplus/content/ui/settings.xul</em:optionsURL>
    <em:optionsType>2</em:optionsType>
    {%- for appName in metadata.options('compat')|sort %}
    {%- if appName in KNOWN_APPS %}
    <em:targetApplication>
      <Description>
        <!-- {{appName}} -->
        <em:id>{{KNOWN_APPS[appName]}}</em:id>
        <em:minVersion>{{metadata.get('compat', appName).split('/')[0]}}</em:minVersion>
        <em:maxVersion>{{metadata.get('compat', appName).split('/')[1]}}</em:maxVersion>
      </Description>
    </em:targetApplication>
    {%- endif %}
    {%- endfor %}
  </Description>
</RDF>